/MostrandoIdade/nbproject/private/
/MostrandoIdade/build/
/MostrandoOquadrado/nbproject/private/
/MostrandoOquadrado/build/
/AumentoDeSalario/nbproject/private/
/AumentoDeSalario/build/
/conversodedolarprareal/nbproject/private/
/conversodedolarprareal/build/
/ConversãoDeDolarParaReal/nbproject/private/
/ConversãoDeDolarParaReal/build/
/RecebaDoisNumeroEFacendoTodasOperacoes/nbproject/private/
/RecebaDoisNumeroEFacendoTodasOperacoes/build/
/UsandoOperadorTernario/nbproject/private/
/UsandoOperadorTernario/build/
/PositivoOuNegativo/nbproject/private/
/PositivoOuNegativo/build/
/Carteira de Motorista/nbproject/private/
/Carteira de Motorista/build/
/SalarioMinimo/nbproject/private/
/SalarioMinimo/build/
/ApresentandoOMes/nbproject/private/
/ApresentandoOMes/build/
/Plano de Salario/nbproject/private/
/JogoDasFigurinhas/nbproject/private/
/Plano de Salario/build/
/test/nbproject/private/
/Plano de Salario/dist/
/test/build/
/JogoDaVelha/nbproject/private/
/JogoDavelha/nbproject/private/
/JavaApplication43/nbproject/private/
/Aula250319/nbproject/private/
/Aula250319/build/
/Aula2503192/nbproject/private/
/Aula2503192/build/
/Exercicio6/nbproject/private/
/Exercicio6/build/
/fazendocopiadevetor/nbproject/private/
/fazendocopiadevetor/build/
/JogoDaVelhaLobo7/nbproject/private/
/JogoDaVelha1/nbproject/private/
/JogoDaVelha1/build/
/JogodaVelhaCorrigido/nbproject/private/
/JogodaVelhaCorrigido/build/
/TrabalhoDoLobo/nbproject/private/
/TrabalhoDoLobo/build/
/JogoDaVelhaYoutube/nbproject/private/
/JogoDaVelhaYoutube/build/
/TrabalhoDoLoboFinalizado/nbproject/private/
/TrabalhoDoLoboFinalizado/build/
/Jonathan/nbproject/private/
/Jonathan/build/
/Jonathan_1/nbproject/private/
/Jonathan_1/build/
/ExercClasseJava/nbproject/private/
/teste10/nbproject/private/
/TodosOsExerciciosDaAulaDeProg1/nbproject/private/
/PraticandoClasseAbstrata/nbproject/private/
/TrabalhandoComTryCath/nbproject/private/
/TrabalhandoComTryCath/build/
/UsandoMetodos/nbproject/private/
/UsandoMetodosPassagemPorParametros/nbproject/private/
/UsandoMetodosPassagemPorParametros/build/
/TrabalhandoComGetsSets/nbproject/private/
/TrabalhandoComGetsSets/build/
/BlocoDeInicializacao/nbproject/private/
/BlocoDeInicializacao/build/
/Protiptodecrud/nbproject/private/
/ProjetoDeCadastro/nbproject/private/
/heranca/nbproject/private/
/heranca/build/
/testAssociacao/nbproject/private/
/testAssociacao/build/
/ForIt/nbproject/private/
/ForIt/build/
/test1exercicio/nbproject/private/
/test1exercicio/build/