/MostrandoIdade/nbproject/private/
/MostrandoIdade/build/
/MostrandoOquadrado/nbproject/private/
/MostrandoOquadrado/build/
/AumentoDeSalario/nbproject/private/
/AumentoDeSalario/build/
/conversodedolarprareal/nbproject/private/
/conversodedolarprareal/build/
/ConversãoDeDolarParaReal/nbproject/private/
/ConversãoDeDolarParaReal/build/